<a href="https://colab.research.google.com/github/wendychen215/aop113b/blob/main/EX03_02_%E5%85%AC%E5%8F%B8%E8%96%AA%E8%B3%87%E6%A6%82%E6%B3%81%E2%85%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {
    'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Helen', 'Ivy', 'Jack'],
    'Age': [125, 30, 35, 40, 22, 29, 38, 27, 33, 31],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Salary': [150000, 60000, 75000, 80000, 45000, 62000, 72000, 58000, 69000, 71800],
    'Department': ['IT', 'HR', 'Finance', 'Harketing', 'IT', 'HR', 'Finance', 'Marketing', 'IT', 'Finance']
}

df=pd.DataFrame(data)
df

將薪水高於第3四分位數的人員標示為高薪

In [ ]:
hs=df[ 'Salary'].quantile(0.75)
hs

In [ ]:
df[ 'HighSalary'] = df['Salary'].apply(lambda x: True if x> hs else False)
df

In [ ]:
df[ df['HighSalary']]

刪除高薪欄位

In [ ]:
df=df.drop(columns=['HighSalary'])
df

使用 pd.concat()新增資料(資料集)

In [ ]:
new_data = [
    {'ID': 111, 'Name': 'Kevin', 'Age': 28, 'City': 'Austin', 'Salary': None, 'Department': 'IT'},
    {'ID': 112, 'Name': 'Lily', 'Age': 26, 'City': 'Seattle', 'Salary': 55000, 'Department': 'Marketing'},
    {'ID': 112, 'Name': 'Lily', 'Age': 26, 'City': 'Seattle', 'Salary': 55000, 'Department': 'Marketing'}
]
new_df=pd. DataFrame (new_data)
new_df

In [ ]:
df=pd.concat([df, new_df], ignore_index=True)
df

找出空值的資料列,並填充空值(薪水依該部門平均值)

In [ ]:
df.isnull().sum()

In [ ]:
avg_dp=df.groupby ('Department') ['Salary'].mean()
avg_dp

In [ ]:
 for i in range(len (df)):
   if pd.isnull(df.loc[i, 'Salary']):
    df.loc[i, 'Salary'] = avg_dp[ df.loc[i, 'Department']]
 df

刪除重複資料

In [ ]:
df=df.drop_duplicates()
df

新增欄位 'NewSalary',如果薪水小於平均值則薪水加500,否則維持原薪水;新增欄位'RankSalary'填入薪水排名。

In [ ]:
avg_salary = df['Salary'].mean()
avg_salary

In [ ]:
df[ 'NewSalary'] = df['Salary'].apply(lambda x: x + 500 if x < avg_salary else x)
df

In [ ]:
df['RankSalary'] = df['Salary'].rank (ascending=False)
df

In [ ]:
df[['Salary', 'NewSalary', 'RankSalary']] = df[['Salary', 'NewSalary', 'RankSalary']].astype(int)
df